<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Schedule Generator</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {{#unless noNavbar}}
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">Course Schedule Generator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a> <!-- Home functionality -->
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="GET" class="d-inline">
                            <button type="submit" class="nav-link btn btn-link">Logout</button> <!-- Logout functionality -->
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{/unless}}
    <div class="content">
        {{{body}}}
    </div>
</body>